@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Support:</strong>   <a href="mailto:jarasergio@outlook.com">jarasergio@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:luciano1231@hotmail.com">luciano1231@hotmail.com</a>
</address>